.page_65 { background-image: url(../background/civics_65.jpg); }
.c_65_0 { color: #2d1eff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_65_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_65_2 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_65_3 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_65_4 { color: #ff1966; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_65_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_65_6 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_65_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
