.page_141 { background-image: url(../background/civics_141.jpg); }
.c_141_0 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_141_1 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_141_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_141_3 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_141_4 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_141_5 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_141_6 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_141_7 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.92em; }
.c_141_8 { color: #fff482; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_141_9 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_141_10 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_141_11 { color: #3a3b7e; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 0.92em; }
.c_141_12 { color: #3a3b7e; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.89em; }
.c_141_13 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.89em; }
.c_141_14 { color: #0f499d; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 0.92em; }
.c_141_15 { color: #0f499d; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.89em; }
.c_141_16 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
