.page_191 { background-image: url(../background/civics_191.jpg); }
.c_191_0 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_191_1 { color: #303dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_191_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_191_3 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_191_4 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_191_5 { color: #3a3b7e; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_191_6 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_191_7 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_191_8 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_191_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
