.page_209 { background-image: url(../background/civics_209.jpg); }
.c_209_0 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_209_1 { color: #000000; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_209_2 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_209_3 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_209_4 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_209_5 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_209_6 { color: #ffffff; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.75em; }
.c_209_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
