.page_146 { background-image: url(../background/civics_146.jpg); }
.c_146_0 { color: #000000; font-family: 'PTypewriter-SpecialBold'; font-size: 1.80em; }
.c_146_1 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.50em; }
.c_146_2 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.49em; }
.c_146_3 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.53em; }
.c_146_4 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.58em; }
.c_146_5 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 0.95em; }
.c_146_6 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.03em; }
.c_146_7 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.00em; }
.c_146_8 { color: #ee1d23; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.52em; }
.c_146_9 { color: #9000ed; font-family: 'StoneSansIIITCW01-BdIt'; font-size: 1.12em; }
.c_146_10 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.00em; }
.c_146_11 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_146_12 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_146_13 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_146_14 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_146_15 { color: #000000; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 0.87em; }
.c_146_16 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.05em; }
.c_146_17 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_146_18 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
