.page_198 { background-image: url(../background/civics_198.jpg); }
.c_198_0 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_198_1 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.18em; }
.c_198_2 { color: #000000; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.77em; }
.c_198_3 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_198_4 { color: #000000; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_198_5 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_198_6 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_198_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
