.page_156 { background-image: url(../background/civics_156.jpg); }
.c_156_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_156_1 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_156_2 { color: #073c1e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_156_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_156_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_156_5 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_156_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_156_7 { color: #00cf59; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_156_8 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_156_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_156_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_156_11 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
