.page_180 { background-image: url(../background/civics_180.jpg); }
.c_180_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_180_1 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_180_2 { color: #34600c; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_180_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_180_4 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_180_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_180_6 { color: #2c0d00; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_180_7 { color: #2d1eff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.82em; }
.c_180_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.99em; }
.c_180_9 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_180_10 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_180_11 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
