.page_142 { background-image: url(../background/civics_142.jpg); }
.c_142_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_142_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_142_2 { color: #9000ed; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_142_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_142_4 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_142_5 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_142_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_142_7 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_142_8 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_142_9 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_142_10 { color: #ee1d23; font-family: 'American Typewriter ITCW01BdCn'; font-size: 1.4em; }
.c_142_11 { color: #000000; font-family: 'American Typewriter ITCW01BdCn'; font-size: 0.85em; }
.c_142_12 { color: #000000; font-family: 'American Typewriter ITC W01 Cn'; font-size: 1.0em; }
.c_142_13 { color: #000000; font-family: 'American Typewriter ITC W01 Cn'; font-size: 0.85em; }
.c_142_14 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
