.page_58 { background-image: url(../background/civics_58.jpg); }
.c_58_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_58_1 { color: #563dff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_58_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_58_3 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_58_4 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_58_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_58_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_58_7 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 1.01em; }
.c_58_8 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 0.82em; }
.c_58_9 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.99em; }
.c_58_10 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.91em; }
.c_58_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
