.page_199 { background-image: url(../background/civics_199.jpg); }
.c_199_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_199_1 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_199_2 { color: #ffffff; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.00em; }
.c_199_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.75em; }
.c_199_4 { color: #000000; font-family: 'LegacySansITCW01-MdIt'; font-size: 0.85em; }
.c_199_5 { color: #2ab803; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_199_6 { color: #000000; font-family: 'StoneSansIIITCW01-BdIt'; font-size: 0.75em; }
.c_199_7 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_199_8 { color: #fa0903; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.00em; }
.c_199_9 { color: #fa0903; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.75em; }
.c_199_10 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_199_11 { color: #ffffff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 2.87em; }
.c_199_12 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 0.97em; }
.c_199_13 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
