.page_89 { background-image: url(../background/civics_89.jpg); }
.c_89_0 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_89_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_89_2 { color: #2c0d00; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_89_3 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_89_4 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_89_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_89_6 { color: #000000; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_89_7 { color: #000000; font-family: 'ITC Avant Garde Gothic W01MdCn'; font-size: 0.69em; }
.c_89_8 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_89_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
