.page_44 { background-image: url(../background/civics_44.jpg); }
.c_44_0 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_44_1 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_44_2 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 0.82em; }
.c_44_3 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.99em; }
.c_44_4 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 1.01em; }
.c_44_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_44_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
