.page_62 { background-image: url(../background/civics_62.jpg); }
.c_62_0 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_62_1 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_62_2 { color: #2d1eff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_62_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_62_4 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_62_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_62_6 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_62_7 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_62_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_62_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_62_10 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_62_11 { color: #ffff6b; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_62_12 { color: #ffffff; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_62_13 { color: #ffffff; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_62_14 { color: #ffffff; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
