.page_179 { background-image: url(../background/civics_179.jpg); }
.c_179_0 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_179_1 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_179_2 { color: #2c0d00; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_179_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_179_4 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_179_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_179_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_179_7 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_179_8 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_179_9 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.83em; }
.c_179_10 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
