.page_98 { background-image: url(../background/civics_98.jpg); }
.c_98_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_98_1 { color: #f90918; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_98_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_98_3 { color: #303dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_98_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_98_5 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_98_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_98_7 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_98_8 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.33em; }
.c_98_9 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.71em; }
.c_98_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_98_11 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
