.page_4 { background-image: url(../background/civics_4.jpg); }
.c_4_0 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bk'; font-size: 0.86em; }
.c_4_1 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_4_2 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.63em; }
.c_4_3 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.97em; }
.c_4_4 { color: #0f499d; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_4_5 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
