.page_83 { background-image: url(../background/civics_83.jpg); }
.c_83_0 { color: #502513; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_83_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_83_2 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_83_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_83_4 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.81em; }
.c_83_5 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 1.01em; }
.c_83_6 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 1.00em; }
.c_83_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.01em; }
.c_83_8 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_83_9 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_83_10 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_83_11 { color: #2c0d00; font-family: 'StoneSansIIITCW01-BdIt'; font-size: 0.82em; }
.c_83_12 { color: #2c0d00; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.00em; }
.c_83_13 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_83_14 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_83_15 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
