.page_77 { background-image: url(../background/civics_77.jpg); }
.c_77_0 { color: #ee1d23; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_77_1 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.57em; }
.c_77_2 { color: #ee1d23; font-family: 'OPTITypewriter-Special'; font-size: 0.76em; }
.c_77_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.15em; }
.c_77_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_77_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_77_6 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.75em; }
.c_77_7 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.62em; }
.c_77_8 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.06em; }
.c_77_9 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_77_10 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
