.page_123 { background-image: url(../background/civics_123.jpg); }
.c_123_0 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_123_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_123_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_123_3 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_123_4 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.81em; }
.c_123_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.01em; }
.c_123_6 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_123_7 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_123_8 { color: #4c4c4c; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_123_9 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_123_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_123_11 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_123_12 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_123_13 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
