.page_205 { background-image: url(../background/civics_205.jpg); }
.c_205_0 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_205_1 { color: #000000; font-family: 'StoneSansIIITCW01-BdIt'; font-size: 0.75em; }
.c_205_2 { color: #2ab803; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_205_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_205_4 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_205_5 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
