.page_71 { background-image: url(../background/civics_71.jpg); }
.c_71_0 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_71_1 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_71_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.99em; }
.c_71_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_71_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_71_5 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_71_6 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_71_7 { color: #502513; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_71_8 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_71_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
