.page_56 { background-image: url(../background/civics_56.jpg); }
.c_56_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_56_1 { color: #563dff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_56_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_56_3 { color: #3a3b7e; font-family: 'ITC Century W01 Book Condensed'; font-size: 1.37em; }
.c_56_4 { color: #ee1d23; font-family: 'Webdings'; font-size: 0.85em; }
.c_56_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_56_6 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.89em; }
.c_56_7 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_56_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_56_9 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_56_10 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_56_11 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_56_12 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_56_13 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_56_14 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.28em; }
.c_56_15 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.88em; }
.c_56_16 { color: #2c0d00; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.96em; }
.c_56_17 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
