.page_2 { background-image: url(../background/civics_2.jpg); }
.c_2_0 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 4.27em; }
.c_2_1 { color: #0f499d; font-family: 'Optima LT W01 Roman'; font-size: 1.00em; }
.c_2_2 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 0.83em; }
.c_2_3 { color: #000000; font-family: 'Optima LT W01 Roman'; font-size: 0.92em; }
.c_2_4 { color: #000000; font-family: 'Optima LT W01 Roman'; font-size: 0.69em; }
.c_2_5 { color: #000000; font-family: 'Optima LT W01 Bold'; font-size: 0.70em; }
.c_2_6 { color: #000000; font-family: 'Optima LT W01 Roman'; font-size: 0.98em; }
.c_2_7 { color: #000000; font-family: 'Optima LT W01 Bold'; font-size: 0.67em; }
.c_2_8 { color: #000000; font-family: 'Optima LT W01 Roman'; font-size: 1.03em; }
.c_2_9 { color: #000000; font-family: 'Optima LT W01 Roman'; font-size: 1.00em; }
.c_2_10 { color: #000000; font-family: 'Optima LT W01 Roman'; font-size: 0.59em; }
.c_2_11 { color: #000000; font-family: 'Legacy Sans ITC W01 Bk'; font-size: 0.86em; }
.c_2_12 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_2_13 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.63em; }
.c_2_14 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bk'; font-size: 0.86em; }
.c_2_15 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_2_16 { color: #000000; font-family: 'GillSans'; font-size: 0.71em; }
.c_2_17 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.97em; }
.c_2_18 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
