.page_12 { background-image: url(../background/civics_12.jpg); }
.c_12_0 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_12_1 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_12_2 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 1.00em; }
.c_12_3 { color: #000000; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 0.73em; }
.c_12_4 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
