.page_57 { background-image: url(../background/civics_57.jpg); }
.c_57_0 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_57_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_57_2 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_57_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_57_4 { color: #2d1eff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_57_5 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_57_6 { color: #ee1d23; font-family: 'Webdings'; font-size: 0.78em; }
.c_57_7 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.12em; }
.c_57_8 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_57_9 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_57_10 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.83em; }
.c_57_11 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
