.page_115 { background-image: url(../background/civics_115.jpg); }
.c_115_0 { color: #3a3b7e; font-family: 'LegacySansITCW01-MdIt'; font-size: 0.85em; }
.c_115_1 { color: #e80423; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_115_2 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_115_3 { color: #0f499d; font-family: 'LegacySansITCW01-MdIt'; font-size: 0.85em; }
.c_115_4 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
