.page_85 { background-image: url(../background/civics_85.jpg); }
.c_85_0 { color: #3a3b7e; font-family: 'ITC Century W01 Book Condensed'; font-size: 1.37em; }
.c_85_1 { color: #ee1d23; font-family: 'Webdings'; font-size: 0.85em; }
.c_85_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_85_3 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.89em; }
.c_85_4 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_85_5 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_85_6 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_85_7 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_85_8 { color: #fff482; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_85_9 { color: #ffea05; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 0.87em; }
.c_85_10 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 1.00em; }
.c_85_11 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 0.87em; }
.c_85_12 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_85_13 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_85_14 { color: #502513; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_85_15 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
