.page_148 { background-image: url(../background/civics_148.jpg); }
.c_148_0 { color: #9000ed; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_148_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_148_2 { color: #000000; font-family: 'Legacy Sans ITC W01 Bk'; font-size: 0.98em; }
.c_148_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_148_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_148_5 { color: #000000; font-family: 'CheltenhamITCW01-BoldIt'; font-size: 1.01em; }
.c_148_6 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_148_7 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.81em; }
.c_148_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.01em; }
.c_148_9 { color: #000000; font-family: 'CheltenhamITCW01-BoldIt'; font-size: 0.82em; }
.c_148_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_148_11 { color: #000000; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_148_12 { color: #000000; font-family: 'ITC Avant Garde Gothic W01MdCn'; font-size: 0.97em; }
.c_148_13 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
