.page_150 { background-image: url(../background/civics_150.jpg); }
.c_150_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 1.05em; }
.c_150_1 { color: #ffffff; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_150_2 { color: #ffffff; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.85em; }
.c_150_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.89em; }
.c_150_4 { color: #ffffb5; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 5.47em; }
.c_150_5 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
