.page_60 { background-image: url(../background/civics_60.jpg); }
.c_60_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_60_1 { color: #2d1eff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_60_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_60_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_60_4 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_60_5 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_60_6 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_60_7 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_60_8 { color: #000000; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.52em; }
.c_60_9 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.60em; }
.c_60_10 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
