.page_134 { background-image: url(../background/civics_134.jpg); }
.c_134_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_134_1 { color: #9000ed; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_134_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_134_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_134_4 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_134_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_134_6 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_134_7 { color: #e80423; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_134_8 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_134_9 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_134_10 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_134_11 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_134_12 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
