.page_190 { background-image: url(../background/civics_190.jpg); }
.c_190_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_190_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_190_2 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_190_3 { color: #303dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_190_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_190_5 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.33em; }
.c_190_6 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 0.70em; }
.c_190_7 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 1.25em; }
.c_190_8 { color: #2c0d00; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.80em; }
.c_190_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
