.page_213 { background-image: url(../background/civics_213.jpg); }
.c_213_0 { color: #000000; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_213_1 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_213_2 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_213_3 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.75em; }
.c_213_4 { color: #000000; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.77em; }
.c_213_5 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_213_6 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_213_7 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_213_8 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
