.page_140 { background-image: url(../background/civics_140.jpg); }
.c_140_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_140_1 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_140_2 { color: #ffff6b; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_140_3 { color: #ffffff; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_140_4 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_140_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_140_6 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_140_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_140_8 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_140_9 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_140_10 { color: #ee1d23; font-family: 'American Typewriter ITCW01BdCn'; font-size: 1.4em; }
.c_140_11 { color: #000000; font-family: 'American Typewriter ITCW01BdCn'; font-size: 0.85em; }
.c_140_12 { color: #000000; font-family: 'American Typewriter ITC W01 Cn'; font-size: 1.0em; }
.c_140_13 { color: #000000; font-family: 'American Typewriter ITC W01 Cn'; font-size: 0.85em; }
