.page_76 { background-image: url(../background/civics_76.jpg); }
.c_76_0 { color: #ee1d23; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_76_1 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.75em; }
.c_76_2 { color: #ee1d23; font-family: 'OPTITypewriter-Special'; font-size: 0.76em; }
.c_76_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.15em; }
.c_76_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_76_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_76_6 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_76_7 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.81em; }
.c_76_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.01em; }
.c_76_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
