.page_216 { background-image: url(../background/civics_216.jpg); }
.c_216_0 { color: #000000; font-family: 'Charcoal'; font-size: 0.53em; }
.c_216_1 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
