.page_186 { background-image: url(../background/civics_186.jpg); }
.c_186_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 1.05em; }
.c_186_1 { color: #ffffb5; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 5.47em; }
.c_186_2 { color: #ffffff; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_186_3 { color: #ffffff; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 1.15em; }
.c_186_4 { color: #ffffff; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.83em; }
.c_186_5 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
