.page_66 { background-image: url(../background/civics_66.jpg); }
.c_66_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 1.05em; }
.c_66_1 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_66_2 { color: #000000; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 1.06em; }
.c_66_3 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.94em; }
.c_66_4 { color: #ffffb5; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 5.47em; }
.c_66_5 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
