.page_6 { background-image: url(../background/civics_6.jpg); }
.c_6_0 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 4.60em; }
.c_6_1 { color: #e80423; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_6_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_6_3 { color: #3a3b7e; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.60em; }
.c_6_4 { color: #000000; font-family: 'Copperplate Gothic LT W01_33BC'; font-size: 0.82em; }
.c_6_5 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_6_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
