.page_177 { background-image: url(../background/civics_177.jpg); }
.c_177_0 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_177_1 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_177_2 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_177_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_177_4 { color: #000000; font-family: 'TimesNewRomanPS-BoldMT'; font-size: 0.67em; }
.c_177_5 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_177_6 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.90em; }
.c_177_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
