.page_102 { background-image: url(../background/civics_102.jpg); }
.c_102_0 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_102_1 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_102_2 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_102_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_102_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_102_5 { color: #f90918; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_102_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_102_7 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_102_8 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_102_9 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.99em; }
.c_102_10 { color: #323232; font-family: 'ComicSansMS'; font-size: 0.44em; }
.c_102_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_102_12 { color: #303dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_102_13 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
