.page_196 { background-image: url(../background/civics_196.jpg); }
.c_196_0 { color: #ffffff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 2.93em; }
.c_196_1 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 1.05em; }
.c_196_2 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_196_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_196_4 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_196_5 { color: #000000; font-family: 'LegacySansITCW01-MdIt'; font-size: 0.85em; }
.c_196_6 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
