.page_16 { background-image: url(../background/civics_16.jpg); }
.c_16_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_16_1 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_16_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_16_3 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_16_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_16_5 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_16_6 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_16_7 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 0.74em; }
.c_16_8 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_16_9 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.83em; }
.c_16_10 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_16_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
