.page_221 { background-image: url(../background/civics_221.jpg); }
.c_221_0 { color: #ffffff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 2.33em; }
.c_221_1 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.60em; }
.c_221_2 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.67em; }
.c_221_3 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.67em; }
.c_221_4 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_221_5 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
