.page_31 { background-image: url(../background/civics_31.jpg); }
.c_31_0 { color: #3a3b7e; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.05em; }
.c_31_1 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_31_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.11em; }
.c_31_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_31_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_31_5 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.33em; }
.c_31_6 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_31_7 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 0.99em; }
.c_31_8 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 0.80em; }
