.page_164 { background-image: url(../background/civics_164.jpg); }
.c_164_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_164_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_164_2 { color: #073c1e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_164_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_164_4 { color: #00cf59; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_164_5 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_164_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_164_7 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_164_8 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
