.page_184 { background-image: url(../background/civics_184.jpg); }
.c_184_0 { color: #34600c; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_184_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_184_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_184_3 { color: #000000; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 0.83em; }
.c_184_4 { color: #000000; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_184_5 { color: #0f499d; font-family: 'ITCBradleyHandW01-Bold'; font-size: 0.88em; }
.c_184_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
