.page_114 { background-image: url(../background/civics_114.jpg); }
.c_114_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_114_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_114_2 { color: #f90918; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_114_3 { color: #d92331; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_114_4 { color: #12469b; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.91em; }
.c_114_5 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.84em; }
.c_114_6 { color: #000000; font-family: 'CheltenhamITCW01-BoldIt'; font-size: 1.00em; }
.c_114_7 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_114_8 { color: #3a3b7e; font-family: 'LegacySansITCW01-MdIt'; font-size: 0.85em; }
.c_114_9 { color: #e80423; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_114_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_114_11 { color: #000000; font-family: 'CheltenhamITCW01-BoldIt'; font-size: 1.01em; }
.c_114_12 { color: #000000; font-family: 'LegacySansITCW01-MdIt'; font-size: 0.94em; }
.c_114_13 { color: #000000; font-family: 'LegacySansITCW01-MdIt'; font-size: 0.78em; }
.c_114_14 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
