.page_68 { background-image: url(../background/civics_68.jpg); }
.c_68_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_68_1 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_68_2 { color: #ff1966; font-family: 'Webdings'; font-size: 0.85em; }
.c_68_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_68_4 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.05em; }
.c_68_5 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.05em; }
.c_68_6 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_68_7 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_68_8 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_68_9 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.11em; }
.c_68_10 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_68_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_68_12 { color: #ffffff; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.81em; }
.c_68_13 { color: #2c0d00; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_68_14 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_68_15 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_68_16 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 1.01em; }
.c_68_17 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_68_18 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
