.page_101 { background-image: url(../background/civics_101.jpg); }
.c_101_0 { color: #303dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_101_1 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_101_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.99em; }
.c_101_3 { color: #000000; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.73em; }
.c_101_4 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.72em; }
.c_101_5 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_101_6 { color: #000000; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.82em; }
.c_101_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.99em; }
.c_101_8 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.99em; }
.c_101_9 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_101_10 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
