.page_138 { background-image: url(../background/civics_138.jpg); }
.c_138_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_138_1 { color: #ffff6b; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_138_2 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_138_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_138_4 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.81em; }
.c_138_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.01em; }
.c_138_6 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 1.00em; }
.c_138_7 { color: #9000ed; font-family: 'StoneSansIIITCW01-BdIt'; font-size: 1.12em; }
.c_138_8 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.00em; }
.c_138_9 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_138_10 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_138_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_138_12 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_138_13 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_138_14 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_138_15 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_138_16 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_138_17 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
