.page_165 { background-image: url(../background/civics_165.jpg); }
.c_165_0 { color: #00cf59; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_165_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_165_2 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_165_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_165_4 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_165_5 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_165_6 { color: #073c1e; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_165_7 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_165_8 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_165_9 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_165_10 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.93em; }
.c_165_11 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_165_12 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
