.page_202 { background-image: url(../background/civics_202.jpg); }
.c_202_0 { color: #000000; font-family: 'StoneSansIIITCW01-BdIt'; font-size: 0.75em; }
.c_202_1 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_202_2 { color: #2ab803; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_202_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_202_4 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_202_5 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 0.75em; }
.c_202_6 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.99em; }
.c_202_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
