.page_27 { background-image: url(../background/civics_27.jpg); }
.c_27_0 { color: #ffffff; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_27_1 { color: #ffffff; font-family: 'Copperplate Gothic LT W01_33BC'; font-size: 1.06em; }
.c_27_2 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
