.page_120 { background-image: url(../background/civics_120.jpg); }
.c_120_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 1.05em; }
.c_120_1 { color: #ffffb5; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 5.47em; }
.c_120_2 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
