.page_10 { background-image: url(../background/civics_10.jpg); }
.c_10_0 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.47em; }
.c_10_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_10_2 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_10_3 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.90em; }
.c_10_4 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_10_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.90em; }
.c_10_6 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_10_7 { color: #007f00; font-family: 'Webdings'; font-size: 0.85em; }
.c_10_8 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_10_9 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.00em; }
.c_10_10 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_10_11 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_10_12 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.90em; }
.c_10_13 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }

