.page_46 { background-image: url(../background/civics_46.jpg); }
.c_46_0 { color: #4c82ff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_46_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_46_2 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 1.03em; }
.c_46_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_46_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_46_5 { color: #000000; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 0.92em; }
.c_46_6 { color: #000000; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.20em; }
.c_46_7 { color: #000000; font-family: 'ITCBradleyHandW01-Bold'; font-size: 1.28em; }
.c_46_8 { color: #000000; font-family: 'ITC Avant Garde Gothic W01MdCn'; font-size: 0.97em; }
.c_46_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
