.page_214 { background-image: url(../background/civics_214.jpg); }
.c_214_0 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_214_1 { color: rgb(73,22,0); font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 4.00em; }
.c_214_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.94em; letter-spacing: -0.06em; }
.c_214_3 { color: rgb(77,85,165); font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.125em; }
.c_214_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_214_5 { color: #000000; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 0.94em; letter-spacing: -0.06em; }






