.page_43 { background-image: url(../background/civics_43.jpg); }
.c_43_0 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_43_1 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.72em; }
.c_43_2 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_43_3 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.81em; }
.c_43_4 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.72em; }
.c_43_5 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_43_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.01em; }
.c_43_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_43_8 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_43_9 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_43_10 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.89em; }
.c_43_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.99em; }
.c_43_12 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_43_13 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_43_14 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_43_15 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_43_16 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
