.page_64 { background-image: url(../background/civics_64.jpg); }
.c_64_0 { color: #2d1eff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_64_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_64_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_64_3 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_64_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_64_5 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.71em; }
.c_64_6 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.05em; }
.c_64_7 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.98em; }
.c_64_8 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.99em; }
.c_64_9 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.97em; }
.c_64_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.69em; }
.c_64_11 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.03em; }
.c_64_12 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.01em; }
.c_64_13 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.07em; }
.c_64_14 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 0.82em; }
.c_64_15 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
