.page_153 { background-image: url(../background/civics_153.jpg); }
.c_153_0 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_153_1 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_153_2 { color: #00cf59; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_153_3 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_153_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_153_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_153_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_153_7 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_153_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_153_9 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_153_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_153_11 { color: #5b9474; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.58em; }
.c_153_12 { color: #5b9474; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 0.97em; }
.c_153_13 { color: #5b9474; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 2.43em; }
.c_153_14 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_153_15 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
