.page_215 { background-image: url(../background/civics_215.jpg); }
.c_215_0 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_215_1 { color: rgb(73,22,0); font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 4.00em; }
.c_215_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em;}
.c_215_3 { color: rgb(77,85,165); font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.125em; }
.c_215_4 { color: #000000; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.82em; }


