.page_121 { background-image: url(../background/civics_121.jpg); }
.c_121_0 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_121_1 { color: #ffffff; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_121_2 { color: #ffffff; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.85em; }
.c_121_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.05em; }
.c_121_4 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
