.page_128 { background-image: url(../background/civics_128.jpg); }
.c_128_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_128_1 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.33em; }
.c_128_2 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.73em; }
.c_128_3 { color: #2c0d00; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.80em; }
.c_128_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_128_5 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_128_6 { color: #4c4c4c; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_128_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_128_8 { color: #4c4c4c; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_128_9 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_128_10 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_128_11 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_128_12 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_128_13 { color: #ee1d23; font-family: 'Wingdings3'; font-size: 0.85em; }
.c_128_14 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_128_15 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.89em; }
.c_128_16 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_128_17 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.00em; }
.c_128_18 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_128_19 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
