.page_61 { background-image: url(../background/civics_61.jpg); }
.c_61_0 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_61_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_61_2 { color: #3a3b7e; font-family: 'ITC Century W01 Book Condensed'; font-size: 1.37em; }
.c_61_3 { color: #ee1d23; font-family: 'Webdings'; font-size: 0.85em; }
.c_61_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_61_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.02em; }
.c_61_6 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_61_7 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_61_8 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_61_9 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_61_10 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_61_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_61_12 { color: #563dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_61_13 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.83em; }
.c_61_14 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.60em; }
.c_61_15 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
