.page_203 { background-image: url(../background/civics_203.jpg); }
.c_203_0 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_203_1 { color: #fa0903; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.00em; }
.c_203_2 { color: #fa0903; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.75em; }
.c_203_3 { color: #000000; font-family: 'StoneSansIIITCW01-BdIt'; font-size: 0.75em; }
.c_203_4 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 0.75em; }
.c_203_5 { color: #ffffff; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.75em; }
.c_203_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
