.page_30 { background-image: url(../background/civics_30.jpg); }
.c_30_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_30_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_30_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_30_3 { color: #4c82ff; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_30_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_30_5 { color: #3a3b7e; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.05em; }
.c_30_6 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_30_7 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.11em; }
.c_30_8 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_30_9 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.33em; }
.c_30_10 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
