.page_112 { background-image: url(../background/civics_112.jpg); }
.c_112_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_112_1 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_112_2 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_112_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_112_4 { color: #e80423; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_112_5 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_112_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_112_7 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_112_8 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_112_9 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_112_10 { color: #ee1d23; font-family: 'Webdings'; font-size: 0.85em; }
.c_112_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_112_12 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_112_13 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.89em; }
.c_112_14 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.89em; }
.c_112_15 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 1.00em; }
.c_112_16 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.00em; }
.c_112_17 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
