.page_109 { background-image: url(../background/civics_109.jpg); }
.c_109_0 { color: #ee1d23; font-family: 'Helvetica LT W01 Roman'; font-size: 1.20em; }
.c_109_1 { color: #ffffb5; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_109_2 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
