.page_176 { background-image: url(../background/civics_176.jpg); }
.c_176_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_176_1 { color: #34600c; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_176_2 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.28em; }
.c_176_3 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.83em; }
.c_176_4 { color: #2c0d00; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.80em; }
.c_176_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_176_6 { color: #2c0d00; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_176_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_176_8 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_176_9 { color: #fff482; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_176_10 { color: #ffffff; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
