.page_174 { background-image: url(../background/civics_174.jpg); }
.c_174_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_174_1 { color: #fff8b4; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_174_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_174_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_174_4 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_174_5 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_174_6 { color: #2c0d00; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_174_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
