.page_41 { background-image: url(../background/civics_41.jpg); }
.c_41_0 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_41_1 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_41_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.11em; }
.c_41_3 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_41_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_41_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.93em; }
.c_41_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
