.page_5 { background-image: url(../background/civics_5.jpg); }
.c_5_0 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bk'; font-size: 0.86em; }
.c_5_1 { color: #0f499d; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_5_2 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.63em; }
.c_5_3 { color: #000000; font-family: 'StoneSansIIITCW01-Bk'; font-size: 0.97em; }
.c_5_4 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_5_5 { color: #ff1966; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.67em; }
.c_5_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
