.page_106 { background-image: url(../background/civics_106.jpg); }
.c_106_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 1.05em; }
.c_106_1 { color: #ffffff; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_106_2 { color: #ffffff; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.48em; }
.c_106_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.48em; }
.c_106_4 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
