.page_51 { background-image: url(../background/civics_51.jpg); }
.c_51_0 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_51_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_51_2 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_51_3 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_51_4 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_51_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_51_6 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_51_7 { color: #3a3b7e; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 0.92em; }
.c_51_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.89em; }
.c_51_9 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_51_10 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
