.page_144 { background-image: url(../background/civics_144.jpg); }
.c_144_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_144_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_144_2 { color: #9000ed; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_144_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_144_4 { color: #ee1d23; font-family: 'American Typewriter ITCW01BdCn'; font-size: 1.4em; }
.c_144_5 { color: #000000; font-family: 'American Typewriter ITCW01BdCn'; font-size: 0.85em; }
.c_144_6 { color: #000000; font-family: 'American Typewriter ITC W01 Cn'; font-size: 1.0em; }
.c_144_7 { color: #000000; font-family: 'American Typewriter ITC W01 Cn'; font-size: 0.85em; }
.c_144_8 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.28em; }
.c_144_9 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.72em; }
.c_144_10 { color: #2c0d00; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.62em; }
.c_144_11 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_144_12 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_144_13 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_144_14 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_144_15 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_144_16 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_144_17 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
