.page_72 { background-image: url(../background/civics_72.jpg); }
.c_72_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_72_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_72_2 { color: #2c0d00; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_72_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_72_4 { color: #2c0d00; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_72_5 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_72_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_72_7 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_72_8 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_72_9 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_72_10 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_72_11 { color: #502513; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
