.page_183 { background-image: url(../background/civics_183.jpg); }
.c_183_0 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_183_1 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_183_2 { color: #fff8b4; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_183_3 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_183_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_183_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_183_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_183_7 { color: #ffea05; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.07em; }
.c_183_8 { color: #0f499d; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 1.53em; }
.c_183_9 { color: #ee1d23; font-family: 'Wingdings3'; font-size: 0.85em; }
.c_183_10 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.20em; }
.c_183_11 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.82em; }
.c_183_12 { color: #2c0d00; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_183_13 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_183_14 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_183_15 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_183_16 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_183_17 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
