.page_171 { background-image: url(../background/civics_171.jpg); }
.c_171_0 { color: #ffffff; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_171_1 { color: #ffffff; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 1.05em; }
.c_171_2 { color: #ffffff; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 0.90em; }
.c_171_3 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
