.page_94 { background-image: url(../background/civics_94.jpg); }
.c_94_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_94_1 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_94_2 { color: #e80423; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_94_3 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_94_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_94_5 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_94_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_94_7 { color: #000000; font-family: 'Cheltenham-BoldItalic'; font-size: 1.01em; }
.c_94_8 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_94_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_94_10 { color: #e80423; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_94_11 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_94_12 { color: #303dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
