.page_108 { background-image: url(../background/civics_108.jpg); }
.c_108_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_108_1 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_108_2 { color: #000000; font-family: 'ITC Avant Garde Gothic W01MdCn'; font-size: 0.66em; }
.c_108_3 { color: #ee1d23; font-family: 'Helvetica LT W01 Roman'; font-size: 1.20em; }
.c_108_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_108_5 { color: #3a3b7e; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_108_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_108_7 { color: #e80423; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_108_8 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.81em; }
.c_108_9 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.01em; }
.c_108_10 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_108_11 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_108_12 { color: #ee1d23; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_108_13 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_108_14 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_108_15 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.75em; }
