.page_93 { background-image: url(../background/civics_93.jpg); }
.c_93_0 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.25em; }
.c_93_1 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.66em; }
.c_93_2 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.88em; }
.c_93_3 { color: #2c0d00; font-family: 'LegacySansITCW01-BkIt'; font-size: 1.00em; }
.c_93_4 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_93_5 { color: #303dff; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_93_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_93_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
