.page_137 { background-image: url(../background/civics_137.jpg); }
.c_137_0 { color: #9000ed; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_137_1 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_137_2 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_137_3 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_137_4 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_137_5 { color: #000000; font-family: 'CheltenhamITCW01-BookIt'; font-size: 0.99em; }
.c_137_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_137_7 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.33em; }
.c_137_8 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_31BC'; font-size: 0.70em; }
.c_137_9 { color: #2c0d00; font-family: 'LegacySansITCW01-BkIt'; font-size: 0.80em; }
.c_137_10 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_137_11 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
