.page_39 { background-image: url(../background/civics_39.jpg); }
.c_39_0 { color: #0f499d; font-family: 'ITC Century W01 Book Condensed'; font-size: 2.39em; }
.c_39_1 { color: #000000; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.08em; }
.c_39_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_39_3 { color: #000000; font-family: 'ITC Avant Garde Gothic W01MdCn'; font-size: 1.10em; }
.c_39_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_39_5 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_39_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_39_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_39_8 { color: #3a3b7e; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.05em; }
.c_39_9 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
