.page_99 { background-image: url(../background/civics_99.jpg); }
.c_99_0 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_99_1 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_99_2 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_99_3 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_99_4 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_99_5 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_99_6 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
