.page_20 { background-image: url(../background/civics_20.jpg); }
.c_20_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_20_1 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_20_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_20_3 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_20_4 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_20_5 { color: #000000; font-family: 'Cheltenham-BookItalic'; font-size: 0.99em; }
.c_20_6 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_20_7 { color: #2c0d00; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.33em; }
.c_20_8 { color: #2c0d00; font-family: 'Copperplate Gothic LT W01_33BC'; font-size: 0.64em; }
.c_20_9 { color: #ee1d23; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 0.75em; }
.c_20_10 { color: #ee1d23; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_20_11 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 1.00em; }
.c_20_12 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.22em; }
.c_20_13 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.27em; }
.c_20_14 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.21em; }
.c_20_15 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_20_16 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.36em; }
.c_20_17 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.18em; }
.c_20_18 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.34em; }
.c_20_19 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.26em; }
.c_20_20 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_20_21 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
.c_20_22 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_20_23 { color: #000000; font-family: 'ITC Avant Garde Gothic W01MdCn'; font-size: 0.65em; }
.c_20_24 { color: #000000; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.83em; }
.c_20_25 { color: #000000; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 0.45em; }
