.page_84 { background-image: url(../background/civics_84.jpg); }
.c_84_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_84_1 { color: #2c0d00; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_84_2 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_84_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_84_4 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_84_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_84_6 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 1.00em; }
.c_84_7 { color: #fff482; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_84_8 { color: #ffea05; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 0.87em; }
.c_84_9 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 1.00em; }
.c_84_10 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bd'; font-size: 0.87em; }
.c_84_11 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
