.page_136 { background-image: url(../background/civics_136.jpg); }
.c_136_0 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_136_1 { color: #9000ed; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_136_2 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_136_3 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_136_4 { color: #000000; font-family: 'Cheltenham ITC W01 Bold'; font-size: 0.81em; }
.c_136_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 1.00em; }
.c_136_6 { color: #000000; font-family: 'CheltenhamITCW01-BoldIt'; font-size: 0.82em; }
.c_136_7 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.99em; }
.c_136_8 { color: #ffffb5; font-family: 'ITC Century W01 Book Condensed'; font-size: 3.76em; }
.c_136_9 { color: #ffffff; font-family: 'ITC Avant Garde Gothic W01 Bd'; font-size: 1.00em; }
.c_136_10 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_136_11 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.86em; }
.c_136_12 { color: #ffffff; font-family: 'Legacy Sans ITC W01 Bk'; font-size: 0.98em; }
.c_136_13 { color: #ffffff; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.00em; }
.c_136_14 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
