.page_18 { background-image: url(../background/civics_18.jpg); }
.c_18_0 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBdI'; font-size: 0.78em; }
.c_18_1 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 0.94em; }
.c_18_2 { color: #0f499d; font-family: 'StoneSansIIITCW01-Bd'; font-size: 1.12em; }
.c_18_3 { color: #ee1d23; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_18_4 { color: #000000; font-family: 'LegacySansITCW01-BdIt'; font-size: 1.11em; }
.c_18_5 { color: #000000; font-family: 'Cheltenham ITC W01 Book'; font-size: 0.81em; }
.c_18_6 { color: #ee1d23; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 3.70em; }
.c_18_7 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
