.page_1 { background-image: url(../background/civics_1.jpg); }
.c_1_0 { color: #e80423; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 5.40em; }
.c_1_1 { color: #000000; font-family: 'Optima LT W01 Roman'; font-size: 2.30em; }
.c_1_2 { color: #ffffff; font-family: 'Optima LT W01 Roman'; font-size: 1.08em; }
