.page_9 { background-image: url(../background/civics_9.jpg); }
.c_9_0 { color: #0f499d; font-family: 'Golden Cockerel ITC W01 Italic'; font-size: 1.95em; }
.c_9_1 { color: #000000; font-family: 'Copperplate Gothic LT W01_33BC'; font-size: 1.06em; }
.c_9_2 { color: #000000; font-family: 'StoneSansIIITCW01-BkIt'; font-size: 1.00em; }
.c_9_3 { color: #ffffff; font-family: 'StoneSansIIITCW01-SmBd'; font-size: 1.05em; }
.c_9_4 { color: #ffffb5; font-family: 'ITC Franklin Gothic LT W01DmCm'; font-size: 5.47em; }
.c_9_5 { color: #ffffff; font-family: 'GloucesterW01-BoldExtCo'; font-size: 0.87em; }
